<a href="https://colab.research.google.com/github/cinthia-cientistadedados/cinthia-cientistadedados/blob/main/ausentes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('ausentes.txt')
df

   id     Nome Idade       Cidade
0   1    Alice    30    Nova York
1   2      Bob     -  Los Angeles
2   3  Charlie    35      Chicago

In [ ]:
df_csv = pd.read_csv('dadosVendas.csv')
df

   id     Nome Idade       Cidade
0   1    Alice    30    Nova York
1   2      Bob     -  Los Angeles
2   3  Charlie    35      Chicago