<a href="https://colab.research.google.com/github/cinthia-cientistadedados/cinthia-cientistadedados/blob/main/meu_primeiro_codigo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**negrito**

In [ ]:
"Helo World"

'Helo World'

Contas

In [ ]:
2+5
10+2

12

In [ ]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

In [ ]:
n1 = 2 + 5
n2 = 10 + 2
t1 = "olá mundo"
print(n1)
print(n2)
print(t1)

7
12
olá mundo

In [ ]:
s1 = n1 + n2
print(s1)

19

In [ ]:
print(t1,s1)

olá mundo 19

**Exercício variáveis** Nome lógico, = recebe, separo as info por virgulas dentro do print(...,...)

In [ ]:
nome = 'Cinthia'
idade = 45
peso = 40
altura = 1.50
print(nome,idade,peso,altura)

print(type(nome))
print(type(idade))
print(type(peso))
print(type(altura))

Cinthia 45 40 1.5
<class 'str'>
<class 'int'>
<class 'int'>
<class 'float'>

**Variaveis com interatividade**

In [ ]:
nome = input('Qual o seu nome?')
idade = int(input('Qual é a sua idade?'))
print(nome, idade)
type(idade)

altura = input('Qual é sua altura?')
peso = input('Qual é seu peso?')
imc = altura + peso

print(imc)

Qual o seu nome?Cinthia
Qual é a sua idade?45
Cinthia 45
Qual é sua alura?1.50
Qual é seu peso?40
1.5040

In [ ]:
altura = float(input('Qual é sua altura?'))
peso = float(input('Qual é seu peso?'))
imc = peso/altura**2

print('Seu IMC é:', imc)
print('O peso é{}'.format(peso))

Qual é sua alura?1.50
Qual é seu peso?40
Seu IMC é: 17.77777777777778
O peso é40.0

**calculo com variaveis**

In [ ]:
n1 =10
n2 = 20

print(n1+n2)
print(n1-n2)
print(n1/n2)
print(n1*n2)
print(n1**n2)
print(n1//n2)
print(n1%n2)

30
-10
0.5
200
100000000000000000000
0
10

In [ ]:
eu = float(input('Qual o valor da sua comanda?'))
amigo = float(input('Qual o valor da comanda do seu amigo?'))
comanda = (eu + amigo) / 2
print(comanda)

Qual o valor da sua comanda?20
Qual o valor da comanda do seu amigo?150
85.0

Utilizando o format

In [ ]:
eu = float(input('Qual o valor da sua comanda?'))
amigo = float(input('Qual o valor da comanda do seu amigo?'))
comanda = (eu + amigo) / 2
print('O valor da comanda é {:.2f}'.format(comanda))
print('O valor da sua conta é {}, seu amigo gastou {} e o valor a dividir é {:.2f}'.format(eu, amigo, comanda))

Qual o valor da sua comanda?150
Qual o valor da comanda do seu amigo?75
O valor da comanda é 112.50
O valor da sua conta é 150.0, seu amigo gastou 75.0 e o valor a dividir é 112.50

Operadores de comparação

In [ ]:
print(eu == amigo) #false
print(eu != amigo) #true
print(eu > amigo) #true
print(eu < amigo) #false
print(eu >= amigo) #true
print(eu <= amigo) #false

False
True
True
False
True
False

Operadores Lógicos

In [ ]:
print(eu > amigo and eu > 500)
print(eu > amigo or eu > 500 )

False
True

Operadores de Atribuição

In [ ]:
eu = 10
voce = 5

voce += eu
print(voce)

voce -= eu
print (voce)

voce *= eu
print(voce)

voce /= eu
print (voce)

15
5
50
5.0

Exercício 2 - imc

In [ ]:
nome = 'Cinthia'
altura = 1.50
peso = 35
print(nome,altura,peso)

altura = float(input('Qual é a sua altura?'))
peso = float(input('Qual é a sua peso?'))
imc = peso / altura**2
print('seu IMC é:', imc)
print('Sua altura é {}, seu peso é {}, seu IMC é {:.2f}' .format(altura, peso, imc))

Cinthia 1.5 35
Qual é a sua altura?1.50
Qual é a sua peso?35
seu IMC é: 15.555555555555555
Sua altura é 1.5, seu peso é 35.0, seu IMC é 15.56

In [ ]:
nascimento = 25/3/1980
print(nascimento)
type(nascimento)

0.004208754208754209

float

**Importando Biblioteca** from datetime import date = date(1980,3,25) print(data) type(data)

In [ ]:
from datetime import date
data = date (1980,3,25)
print(data)
type(data)

1980-03-25

datetime.date

**Importando random** import random
n1 = random.randint(1,10) print(n1)

In [ ]:
import random
n1=random.randint(1,10)
print(n1)

6

**Importando emoji-**

In [ ]:
!pip install emoji
import emoji

joinha = emoji.emojize('Python é:thumbs_up:', language='pt')
print(joinha)

Requirement already satisfied: emoji in /usr/local/lib/python3.11/dist-packages (2.14.1)
Python é:thumbs_up:

In [ ]:
joinha = emoji.emojize('O mundo é:polegar_para_cima:', language='pt')
print(joinha)
coração = emoji.emojize('Deus é apaixonante :coração_vermelho:', language='pt')
print(coração)
sol =emoji.emojize('Estou radiante :sol:', language='pt')
print(sol)

O mundo é é👍
Deus é apaixonante ❤️
Estou radiante ☀️

**Exercício random**

In [ ]:
import random

n1 =str(input('Digite um nome: '))
n2 = str(input('Digite outro nome: '))
n3 = str(input('Digite mais um nome: '))

aleatorio = (n1, n2, n3)
escolhido = random.choice(aleatorio)
print('o nome escolhido é {} ' .format(escolhido))

Digite um nome: Tequila
Digite outro nome: Decio
Digite mais um nome: Mel
o nome escolhido é Tequila

**Controle de Fluxo - if**
Condições
*se* viagem.temperatura():
viagem.mala
viagem.trabalho
viagem.estrada
*senão:*
viagem.trabalho
viagem.casa
viagem.mala
viagem.estrada

viagem.comer
viagem.descansar

In [ ]:
temperatura = float(input('Qual a temperatura? '))
if temperatura > 27:
  print('Vamos para a praia')
else:
  print('Vamos para o campo')
  print('Parar para comer')

Qual a temperatura? 25
Vamos para o campo
Parar para comer

**Exercício - if simples**
Peça para o usuário digitar 2 nota
Calcule a média
Verifique se a média for maior que 6
*então* aprovado, se a nota for menor que 5 *então* reprovado, caso contrário ele estará em recuperação
No final informe a situação e a média

In [ ]:
nota = float(input('Digite uma nota '))
nota2 = float(input('Digite a outra nota '))
media = (nota + nota2)/2

if media >= 6:
  print('Aprovado')
elif media < 5:
  print('Reprovado')
else:
  print('Recuperação')

print('A sua média foi {}' .format(media))

Digite uma nota 9
Digite a outra nota 7
Aprovado
A sua média foi 8.0

**Controle fluxo - elif** - Decidindo uma viagem
A famíla conversou que, se tivesse frio, eles preferiam ficar em casa.
Por isso, adcionaram uma opção, "estar frio" na decisão da viagem. A lógica era a mesma, porém estaria vinculada a uma temperatura...
**Condição Aninhada**
*se* viagem.temperatura():
viagem.mala
viagem.trabalho
viagem.estrada
*senão:*
viagem.trabalho
viagem.casa
viagem.mala
viagem.estrada
*senão *viagem.frio():
viagem.shopping

viagem.comer
viagem.descansar

In [ ]:
temperatura = float(input('Qual a temperatura? '))
if temperatura > 27:
   print('Vamos para a praia')
elif temperatura < 17:
   print('Vamos ficar em casa')
else:
   print('Vamos para o campo')

Qual a temperatura? 10
Vamos ficar em casa

**Controle fluxo - for**
Imagina na viagem  você resolveu comprar uma batata do Mac Donalds para cada pessoa que está no carro, então você para no Drive-Thru e conta as pessoas do carro
Para cada pessoa até 4 pegue una batata
*for p range(1,4): batata pagar*

In [ ]:
for p in range(1,4):
    print('batata') # Indented this line to be part of the for loop

batata
batata
batata

In [ ]:
pessoa = int(input('Quantas pessoas tem aí? '))

for pessoa in range(0,pessoa):
  print('batata')
print('pagar')

Quantas pessoas tem aí? 3
batata
batata
batata
pagar

In [ ]:
for e in range(0,3):
  print('Linda!')
print('vamos tomar um sorvete?')

Linda!
Linda!
Linda!
vamos tomar um sorvete?

**Controle fluxo - While** viagem
Enquanto estiver viajando
 *se* fome
 comer
*se* sede
 beber
 *se* apertado
 banheiro
print('Voce chegou ao seu destino')

In [ ]:
status = input('Já chegou? ')
while status != 'Sim':
  if status == 'comer':
    print('comer')
    break
  elif status == 'sede':
    print('beber')
    break
  elif status == 'apertado':
    print('banheiro')
    break
    print('Já chegou')
    break

**Jogo construção**

In [ ]:
n = 0
while n!=5:
   n = int(input('Digite um número: '))
print('Fim de Jogo')

Digite um número: 7
Digite um número: 9
Digite um número: 5
Fim de Jogo

**Tupla**
Imutável - não consigo acrescentar itens com o append.
Necessário ir na fonte.

In [ ]:
alimentos = 'arroz', 'feijão', 'carne'
print(alimentos)
alimentos.append('pudim')

('arroz', 'feijão', 'carne')

AttributeError: 'tuple' object has no attribute 'append'

In [ ]:
alimentos = 'arroz', 'feijão', 'carne','arroz','arroz arborio'
print(alimentos)
print(alimentos.count('arroz'))
len(alimentos)

('arroz', 'feijão', 'carne', 'arroz', 'arroz arborio')
2

5

**Lista**
alimentos = ['Arroz', 'Feijão', 'Carne']
print(alimentos)
novoalimento = input ('novo alimento: ')
alimentos.append(novoalimento)
print(alimentos)

In [ ]:
alimentos= ['arroz', 'feijão', 'carne']
print(alimentos)
novoalimento = input('Digite um novo alimento: ')
alimentos.append(novoalimento)
print(alimentos)
alimentos.sort()
print(alimentos)
alimentos.reverse
print(alimentos)
alimentos.remove('arroz')
print(alimentos)
alimentos.pop()
print(alimentos)

['arroz', 'feijão', 'carne']
Digite um novo alimento: brigadeiro
['arroz', 'feijão', 'carne', 'brigadeiro']
['arroz', 'brigadeiro', 'carne', 'feijão']
['arroz', 'brigadeiro', 'carne', 'feijão']
['brigadeiro', 'carne', 'feijão']
['brigadeiro', 'carne']

**Dicionario**

In [ ]:
dados = dict()
dados = {'Nome': 'Decio', 'Idade': 70, 'Peso': 59}
print(dados['Nome'])
dados['Altura'] = 1.59
print(dados)

del dados['Idade']
print(dados)

Decio
{'Nome': 'Decio', 'Idade': 70, 'Peso': 59, 'Altura': 1.59}
{'Nome': 'Decio', 'Peso': 59, 'Altura': 1.59}

In [ ]:
dados.values()

dict_values(['Decio', 59, 1.59])

In [ ]:
dados.keys()

dict_keys(['Nome', 'Peso', 'Altura'])

In [ ]:
dados.items()

dict_items([('Nome', 'Decio'), ('Peso', 59), ('Altura', 1.59)])

Dicionario com for

In [ ]:
for k, v in dados.items():
  print('O {} é {}'.format(k,v))
  print(f'O valor de {k} é {v}')

O Nome é Decio
O valor de Nome é Decio
O Peso é 59
O valor de Peso é 59
O Altura é 1.59
O valor de Altura é 1.59

Notas Dicionário

In [ ]:
aluno = dict()
nota = dict()
aluno = dict()
nota = dict()
nota2 = dict()
media = dict()

aluno['nome'] = str(input('Digite o nome do aluno: '))
aluno['nota'] = float(input('Digite a nota: '))
aluno['nota2'] = float(input('Digite a segunda nota: '))
media = (aluno['nota'] + aluno['nota2'])/2
aluno['media'] = aluno['nota'] + aluno['nota2']
print('A sua media é {} '.format(media))

Digite o nome do aluno: decio
Digite a nota: 10
Digite a segunda nota: 9
A sua media é 9.5

Notas Dicionario

In [ ]:
aluno = dict()
aluno['nome'] = str(input('Digite o nome do aluno: '))
aluno['media'] = float(input('Digite a media: '))

if aluno['media'] > 6:
  aluno['situacao'] = 'Aprovado'
elif aluno['media'] < 5:
  aluno['situacao'] = 'Reprovado'
else:
   aluno['situacao'] = 'Recuperação'

for k, v in aluno.items():
    print('O {} é {}'.format(k, v))

Digite o nome do aluno: Decio Caetano de Souza
Digite a media: 10
O nome é Decio Caetano de Souza
O media é 10.0
O situacao é Aprovado

Funções

In [ ]:
def somaImposto(valor, imposto):
  return valor +(valor * imposto)
valor = float(input('Digite o valor: '))
imposto = float(input('Digite o imposto: '))

print(somaImposto(valor, imposto))

Digite o valor: 100
Digite o imposto: 0.01
101.0

**Importando Pandas**
pandas = pd
dataframe = df

In [2]:
dados = ({
    'Nome':['Jaque','Fabio','Eduardo','Ayisha','Zaira','Pedro','Savannah'],
    'Salario': [1000, 2000, 3000, 4000, 5000, 6000, 7000],
    'Idade':[41,29,28,17,16,51,18],
    'Peso': [175, 140, 160, 140, 136, 180, 150],
    'Genero':['F','M','M','F','F','M','F'],
    'Estado':['São Paulo','Minas Gerais','Rio de Janeiro','Santa Catarina','Salvador','Vitória','Curitiba'],
    'Filhos':[4,1,2,3,0,2,0],
    'Pets':[3,2,2,5,0,1,5]})

import pandas as pd
df = pd.DataFrame(dados)
print(df)

       Nome  Salario  Idade  Peso Genero          Estado  Filhos  Pets
0     Jaque     1000     41   175      F       São Paulo       4     3
1     Fabio     2000     29   140      M    Minas Gerais       1     2
2   Eduardo     3000     28   160      M  Rio de Janeiro       2     2
3    Ayisha     4000     17   140      F  Santa Catarina       3     5
4     Zaira     5000     16   136      F        Salvador       0     0
5     Pedro     6000     51   180      M         Vitória       2     1
6  Savannah     7000     18   150      F        Curitiba       0     5

In [3]:
dados_filtrados = df[df['Idade'] > 18]
print(dados_filtrados)

      Nome  Salario  Idade  Peso Genero          Estado  Filhos  Pets
0    Jaque     1000     41   175      F       São Paulo       4     3
1    Fabio     2000     29   140      M    Minas Gerais       1     2
2  Eduardo     3000     28   160      M  Rio de Janeiro       2     2
5    Pedro     6000     51   180      M         Vitória       2     1

In [7]:
from re import M
dados_filtrados = df[df['Pets'] == 2]
print(dados_filtrados)

      Nome  Salario  Idade  Peso Genero          Estado  Filhos  Pets
1    Fabio     2000     29   140      M    Minas Gerais       1     2
2  Eduardo     3000     28   160      M  Rio de Janeiro       2     2