<a href="https://colab.research.google.com/github/cinthia-cientistadedados/cinthia-cientistadedados/blob/main/meu_primeiro_codigo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**negrito**

In [ ]:
"Helo World"

'Helo World'

Contas

In [ ]:
2+5
10+2

12

In [ ]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

In [ ]:
n1 = 2 + 5
n2 = 10 + 2
t1 = "ol√° mundo"
print(n1)
print(n2)
print(t1)

7
12
ol√° mundo

In [ ]:
s1 = n1 + n2
print(s1)

19

In [ ]:
print(t1,s1)

ol√° mundo 19

**Exerc√≠cio vari√°veis** Nome l√≥gico, = recebe, separo as info por virgulas dentro do print(...,...)

In [ ]:
nome = 'Cinthia'
idade = 45
peso = 40
altura = 1.50
print(nome,idade,peso,altura)

print(type(nome))
print(type(idade))
print(type(peso))
print(type(altura))

Cinthia 45 40 1.5
<class 'str'>
<class 'int'>
<class 'int'>
<class 'float'>

**Variaveis com interatividade**

In [ ]:
nome = input('Qual o seu nome?')
idade = int(input('Qual √© a sua idade?'))
print(nome, idade)
type(idade)

altura = input('Qual √© sua altura?')
peso = input('Qual √© seu peso?')
imc = altura + peso

print(imc)

Qual o seu nome?Cinthia
Qual √© a sua idade?45
Cinthia 45
Qual √© sua alura?1.50
Qual √© seu peso?40
1.5040

In [ ]:
altura = float(input('Qual √© sua altura?'))
peso = float(input('Qual √© seu peso?'))
imc = peso/altura**2

print('Seu IMC √©:', imc)
print('O peso √©{}'.format(peso))

Qual √© sua alura?1.50
Qual √© seu peso?40
Seu IMC √©: 17.77777777777778
O peso √©40.0

**calculo com variaveis**

In [ ]:
n1 =10
n2 = 20

print(n1+n2)
print(n1-n2)
print(n1/n2)
print(n1*n2)
print(n1**n2)
print(n1//n2)
print(n1%n2)

30
-10
0.5
200
100000000000000000000
0
10

In [ ]:
eu = float(input('Qual o valor da sua comanda?'))
amigo = float(input('Qual o valor da comanda do seu amigo?'))
comanda = (eu + amigo) / 2
print(comanda)

Qual o valor da sua comanda?20
Qual o valor da comanda do seu amigo?150
85.0

Utilizando o format

In [ ]:
eu = float(input('Qual o valor da sua comanda?'))
amigo = float(input('Qual o valor da comanda do seu amigo?'))
comanda = (eu + amigo) / 2
print('O valor da comanda √© {:.2f}'.format(comanda))
print('O valor da sua conta √© {}, seu amigo gastou {} e o valor a dividir √© {:.2f}'.format(eu, amigo, comanda))

Qual o valor da sua comanda?150
Qual o valor da comanda do seu amigo?75
O valor da comanda √© 112.50
O valor da sua conta √© 150.0, seu amigo gastou 75.0 e o valor a dividir √© 112.50

Operadores de compara√ß√£o

In [ ]:
print(eu == amigo) #false
print(eu != amigo) #true
print(eu > amigo) #true
print(eu < amigo) #false
print(eu >= amigo) #true
print(eu <= amigo) #false

False
True
True
False
True
False

Operadores L√≥gicos

In [ ]:
print(eu > amigo and eu > 500)
print(eu > amigo or eu > 500 )

False
True

Operadores de Atribui√ß√£o

In [ ]:
eu = 10
voce = 5

voce += eu
print(voce)

voce -= eu
print (voce)

voce *= eu
print(voce)

voce /= eu
print (voce)

15
5
50
5.0

Exerc√≠cio 2 - imc

In [ ]:
nome = 'Cinthia'
altura = 1.50
peso = 35
print(nome,altura,peso)

altura = float(input('Qual √© a sua altura?'))
peso = float(input('Qual √© a sua peso?'))
imc = peso / altura**2
print('seu IMC √©:', imc)
print('Sua altura √© {}, seu peso √© {}, seu IMC √© {:.2f}' .format(altura, peso, imc))

Cinthia 1.5 35
Qual √© a sua altura?1.50
Qual √© a sua peso?35
seu IMC √©: 15.555555555555555
Sua altura √© 1.5, seu peso √© 35.0, seu IMC √© 15.56

In [ ]:
nascimento = 25/3/1980
print(nascimento)
type(nascimento)

0.004208754208754209

float

**Importando Biblioteca** from datetime import date = date(1980,3,25) print(data) type(data)

In [ ]:
from datetime import date
data = date (1980,3,25)
print(data)
type(data)

1980-03-25

datetime.date

**Importando random** import random
n1 = random.randint(1,10) print(n1)

In [ ]:
import random
n1=random.randint(1,10)
print(n1)

6

**Importando emoji-**

In [ ]:
!pip install emoji
import emoji

joinha = emoji.emojize('Python √©:thumbs_up:', language='pt')
print(joinha)

Requirement already satisfied: emoji in /usr/local/lib/python3.11/dist-packages (2.14.1)
Python √©:thumbs_up:

In [ ]:
joinha = emoji.emojize('O mundo √©:polegar_para_cima:', language='pt')
print(joinha)
cora√ß√£o = emoji.emojize('Deus √© apaixonante :cora√ß√£o_vermelho:', language='pt')
print(cora√ß√£o)
sol =emoji.emojize('Estou radiante :sol:', language='pt')
print(sol)

O mundo √© √©üëç
Deus √© apaixonante ‚ù§Ô∏è
Estou radiante ‚òÄÔ∏è

**Exerc√≠cio random**

In [ ]:
import random

n1 =str(input('Digite um nome: '))
n2 = str(input('Digite outro nome: '))
n3 = str(input('Digite mais um nome: '))

aleatorio = (n1, n2, n3)
escolhido = random.choice(aleatorio)
print('o nome escolhido √© {} ' .format(escolhido))

Digite um nome: Tequila
Digite outro nome: Decio
Digite mais um nome: Mel
o nome escolhido √© Tequila

**Controle de Fluxo - if**
Condi√ß√µes
*se* viagem.temperatura():
viagem.mala
viagem.trabalho
viagem.estrada
*sen√£o:*
viagem.trabalho
viagem.casa
viagem.mala
viagem.estrada

viagem.comer
viagem.descansar

In [ ]:
temperatura = float(input('Qual a temperatura? '))
if temperatura > 27:
  print('Vamos para a praia')
else:
  print('Vamos para o campo')
  print('Parar para comer')

Qual a temperatura? 25
Vamos para o campo
Parar para comer

**Exerc√≠cio - if simples**
Pe√ßa para o usu√°rio digitar 2 nota
Calcule a m√©dia
Verifique se a m√©dia for maior que 6
*ent√£o* aprovado, se a nota for menor que 5 *ent√£o* reprovado, caso contr√°rio ele estar√° em recupera√ß√£o
No final informe a situa√ß√£o e a m√©dia

In [ ]:
nota = float(input('Digite uma nota '))
nota2 = float(input('Digite a outra nota '))
media = (nota + nota2)/2

if media >= 6:
  print('Aprovado')
elif media < 5:
  print('Reprovado')
else:
  print('Recupera√ß√£o')

print('A sua m√©dia foi {}' .format(media))

Digite uma nota 9
Digite a outra nota 7
Aprovado
A sua m√©dia foi 8.0

**Controle fluxo - elif** - Decidindo uma viagem
A fam√≠la conversou que, se tivesse frio, eles preferiam ficar em casa.
Por isso, adcionaram uma op√ß√£o, "estar frio" na decis√£o da viagem. A l√≥gica era a mesma, por√©m estaria vinculada a uma temperatura...
**Condi√ß√£o Aninhada**
*se* viagem.temperatura():
viagem.mala
viagem.trabalho
viagem.estrada
*sen√£o:*
viagem.trabalho
viagem.casa
viagem.mala
viagem.estrada
*sen√£o *viagem.frio():
viagem.shopping

viagem.comer
viagem.descansar

In [ ]:
temperatura = float(input('Qual a temperatura? '))
if temperatura > 27:
   print('Vamos para a praia')
elif temperatura < 17:
   print('Vamos ficar em casa')
else:
   print('Vamos para o campo')

Qual a temperatura? 10
Vamos ficar em casa

**Controle fluxo - for**
Imagina na viagem  voc√™ resolveu comprar uma batata do Mac Donalds para cada pessoa que est√° no carro, ent√£o voc√™ para no Drive-Thru e conta as pessoas do carro
Para cada pessoa at√© 4 pegue una batata
*for p range(1,4): batata pagar*

In [ ]:
for p in range(1,4):
    print('batata') # Indented this line to be part of the for loop

batata
batata
batata

In [ ]:
pessoa = int(input('Quantas pessoas tem a√≠? '))

for pessoa in range(0,pessoa):
  print('batata')
print('pagar')

Quantas pessoas tem a√≠? 3
batata
batata
batata
pagar

In [ ]:
for e in range(0,3):
  print('Linda!')
print('vamos tomar um sorvete?')

Linda!
Linda!
Linda!
vamos tomar um sorvete?

**Controle fluxo - While** viagem
Enquanto estiver viajando
 *se* fome
 comer
*se* sede
 beber
 *se* apertado
 banheiro
print('Voce chegou ao seu destino')

In [ ]:
status = input('J√° chegou? ')
while status != 'Sim':
  if status == 'comer':
    print('comer')
    break
  elif status == 'sede':
    print('beber')
    break
  elif status == 'apertado':
    print('banheiro')
    break
    print('J√° chegou')
    break

**Jogo constru√ß√£o**

In [ ]:
n = 0
while n!=5:
   n = int(input('Digite um n√∫mero: '))
print('Fim de Jogo')

Digite um n√∫mero: 7
Digite um n√∫mero: 9
Digite um n√∫mero: 5
Fim de Jogo

**Tupla**
Imut√°vel - n√£o consigo acrescentar itens com o append.
Necess√°rio ir na fonte.

In [ ]:
alimentos = 'arroz', 'feij√£o', 'carne'
print(alimentos)
alimentos.append('pudim')

('arroz', 'feij√£o', 'carne')

AttributeError: 'tuple' object has no attribute 'append'

In [ ]:
alimentos = 'arroz', 'feij√£o', 'carne','arroz','arroz arborio'
print(alimentos)
print(alimentos.count('arroz'))
len(alimentos)

('arroz', 'feij√£o', 'carne', 'arroz', 'arroz arborio')
2

5

**Lista**
alimentos = ['Arroz', 'Feij√£o', 'Carne']
print(alimentos)
novoalimento = input ('novo alimento: ')
alimentos.append(novoalimento)
print(alimentos)

In [ ]:
alimentos= ['arroz', 'feij√£o', 'carne']
print(alimentos)
novoalimento = input('Digite um novo alimento: ')
alimentos.append(novoalimento)
print(alimentos)
alimentos.sort()
print(alimentos)
alimentos.reverse
print(alimentos)
alimentos.remove('arroz')
print(alimentos)
alimentos.pop()
print(alimentos)

['arroz', 'feij√£o', 'carne']
Digite um novo alimento: brigadeiro
['arroz', 'feij√£o', 'carne', 'brigadeiro']
['arroz', 'brigadeiro', 'carne', 'feij√£o']
['arroz', 'brigadeiro', 'carne', 'feij√£o']
['brigadeiro', 'carne', 'feij√£o']
['brigadeiro', 'carne']

**Dicionario**

In [ ]:
dados = dict()
dados = {'Nome': 'Decio', 'Idade': 70, 'Peso': 59}
print(dados['Nome'])
dados['Altura'] = 1.59
print(dados)

del dados['Idade']
print(dados)

Decio
{'Nome': 'Decio', 'Idade': 70, 'Peso': 59, 'Altura': 1.59}
{'Nome': 'Decio', 'Peso': 59, 'Altura': 1.59}

In [ ]:
dados.values()

dict_values(['Decio', 59, 1.59])

In [ ]:
dados.keys()

dict_keys(['Nome', 'Peso', 'Altura'])

In [ ]:
dados.items()

dict_items([('Nome', 'Decio'), ('Peso', 59), ('Altura', 1.59)])

Dicionario com for

In [ ]:
for k, v in dados.items():
  print('O {} √© {}'.format(k,v))
  print(f'O valor de {k} √© {v}')

O Nome √© Decio
O valor de Nome √© Decio
O Peso √© 59
O valor de Peso √© 59
O Altura √© 1.59
O valor de Altura √© 1.59

Notas Dicion√°rio

In [ ]:
aluno = dict()
nota = dict()
aluno = dict()
nota = dict()
nota2 = dict()
media = dict()

aluno['nome'] = str(input('Digite o nome do aluno: '))
aluno['nota'] = float(input('Digite a nota: '))
aluno['nota2'] = float(input('Digite a segunda nota: '))
media = (aluno['nota'] + aluno['nota2'])/2
aluno['media'] = aluno['nota'] + aluno['nota2']
print('A sua media √© {} '.format(media))

Digite o nome do aluno: decio
Digite a nota: 10
Digite a segunda nota: 9
A sua media √© 9.5

Notas Dicionario

In [ ]:
aluno = dict()
aluno['nome'] = str(input('Digite o nome do aluno: '))
aluno['media'] = float(input('Digite a media: '))

if aluno['media'] > 6:
  aluno['situacao'] = 'Aprovado'
elif aluno['media'] < 5:
  aluno['situacao'] = 'Reprovado'
else:
   aluno['situacao'] = 'Recupera√ß√£o'

for k, v in aluno.items():
    print('O {} √© {}'.format(k, v))

Digite o nome do aluno: Decio Caetano de Souza
Digite a media: 10
O nome √© Decio Caetano de Souza
O media √© 10.0
O situacao √© Aprovado

Fun√ß√µes

In [ ]:
def somaImposto(valor, imposto):
  return valor +(valor * imposto)
valor = float(input('Digite o valor: '))
imposto = float(input('Digite o imposto: '))

print(somaImposto(valor, imposto))

Digite o valor: 100
Digite o imposto: 0.01
101.0

**Importando Pandas**
pandas = pd
dataframe = df

In [2]:
dados = ({
    'Nome':['Jaque','Fabio','Eduardo','Ayisha','Zaira','Pedro','Savannah'],
    'Salario': [1000, 2000, 3000, 4000, 5000, 6000, 7000],
    'Idade':[41,29,28,17,16,51,18],
    'Peso': [175, 140, 160, 140, 136, 180, 150],
    'Genero':['F','M','M','F','F','M','F'],
    'Estado':['S√£o Paulo','Minas Gerais','Rio de Janeiro','Santa Catarina','Salvador','Vit√≥ria','Curitiba'],
    'Filhos':[4,1,2,3,0,2,0],
    'Pets':[3,2,2,5,0,1,5]})

import pandas as pd
df = pd.DataFrame(dados)
print(df)

       Nome  Salario  Idade  Peso Genero          Estado  Filhos  Pets
0     Jaque     1000     41   175      F       S√£o Paulo       4     3
1     Fabio     2000     29   140      M    Minas Gerais       1     2
2   Eduardo     3000     28   160      M  Rio de Janeiro       2     2
3    Ayisha     4000     17   140      F  Santa Catarina       3     5
4     Zaira     5000     16   136      F        Salvador       0     0
5     Pedro     6000     51   180      M         Vit√≥ria       2     1
6  Savannah     7000     18   150      F        Curitiba       0     5

In [3]:
dados_filtrados = df[df['Idade'] > 18]
print(dados_filtrados)

      Nome  Salario  Idade  Peso Genero          Estado  Filhos  Pets
0    Jaque     1000     41   175      F       S√£o Paulo       4     3
1    Fabio     2000     29   140      M    Minas Gerais       1     2
2  Eduardo     3000     28   160      M  Rio de Janeiro       2     2
5    Pedro     6000     51   180      M         Vit√≥ria       2     1

In [7]:
from re import M
dados_filtrados = df[df['Pets'] == 2]
print(dados_filtrados)

      Nome  Salario  Idade  Peso Genero          Estado  Filhos  Pets
1    Fabio     2000     29   140      M    Minas Gerais       1     2
2  Eduardo     3000     28   160      M  Rio de Janeiro       2     2